.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .input {
        display: none;
    }
    .label {
        display: flex;
        align-items: center;
        position: relative;
        min-width: 250px;
        cursor: pointer;
    }
    .text {
        position: absolute;
        left: 35px;
    }
    .icon {
        -left: 10px;
        width: 45px;
        height: 45px;
        transition: ease-in-out 400ms;
    }
}

.checkboxActive {
    background: url("../checkboxchecked.svg") 0px center no-repeat;
}
.checkboxNotActive {
    background: url("../checkbox.svg") 0px center no-repeat;
}